.services {
    font-weight: 400;
    line-height: 1.375rem;
    & p {
        font-size: 0.8rem;
    }
    a {
        
        align-self: stretch;
    }
}
.main {
    padding-top: 50px;
    margin-top: 20px;
}

//hero image/carousel
.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: 20px;
    min-height: 550px;
    padding: rem(60) 0;
    @include sm {
        justify-content: center;
    }
    @include md {
        align-items: flex-start;
    }
    a {
        font-size: rem(20);
        a > {
            position: absolute;
            bottom: 50%;
            
        }
    }
    p {
        margin-bottom: .375rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
