.services {
    margin-top: 30px;
    font-weight: 400;
    line-height: 1.375rem;
    & p {
        font-size: 0.8rem;
        padding-bottom: 13px;
    }
}
.main {
    padding-top: 50px;
    padding-bottom: 50px;
}