.services {
    // margin-top: 30px;
    font-weight: 400;
    line-height: 1.375rem;
    & p {
        font-size: 0.8rem;
        // padding-bottom: 13px;
    }
    a {
        
        align-self: stretch;
    }
}
.main {
    padding-top: 50px;
    // padding-bottom: 50px;
}

//hero image/carousel
.container-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 0 auto;
    height: rem(457);
    padding: rem(60) 0;
    @include md {
        height: rem(577);
    }
    a {
        font-size: rem(20);
        a > {
            position: absolute;
            bottom: 50%;
            
        }
    }
}