//future banner elements

// <div class="carousel-item">
//     <h2>Bespoke Software</h2>
//     <p>Delivering expert bespoke software solutions across a range of industries</p>
//     <a href="#" class="btn">Find Out More</a>
// </div>
// <div class="carousel-item">
//     <h2>IT Support</h2>
//     <p>Fast and cost-effective IT support services for your business</p>
//     <a href="#" class="btn">Find Out More</a>
// </div>
// <div class="carousel-item">
//     <h2>Digital Marketing</h2>
//     <p>Generating your new business through results-driven marketing activities.</p>
//     <a href="#" class="btn">Find Out More</a>
// </div>
// <div class="carousel-item">
//     <h2>Telecoms Services</h2>
//     <p>A new approach to connectivity, see how we can help your business.</p>
//     <a href="#" class="btn">Find Out More</a>
// </div>
// <div class="carousel-item">
//     <h2>Web Design</h2>
//     <p>For businesses looking to make a strong and effective first impression.</p>
//     <a href="#" class="btn">Find Out More</a>
// </div>
// <div class="carousel-item">
//     <h2>Cyber Security</h2>
//     <p>Keep business and their customers' sensitive information protected.</p>
//     <a href="#" class="btn">Find Out More</a>
// </div>

