.carousel-1 {
    position: relative;
    border: 1px #bbb clear;
    box-shadow: 0 4px 35px rgba(0,0,0,0.1);
    height: auto;
    text-align: center;
    p {
        font-weight: 600;
        line-height: rem(40);
        margin-bottom: rem(6);
        font-size: rem(20);
        align-self: center;

    }
    .btn {
        align-self: center;
    }
    @include sm {
        padding-top: 0;
    }
    @include md {
        
        h1 {
            font-size: rem(64);
            line-height: rem(80);
            text-align: start;
        }
        p {
            width: 80%;
            font-size: rem(26);
            line-height: rem(40);
            text-align: start;
            align-self: initial;
        }
        .btn {
            align-self: start;
        }
    }
}
.carousel {
    padding: rem(50) 0;
    position: relative;
}
//Top carousel- image after header/nav bar

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), 33%, rgba(0, 0, 0, 0.4), 66%, rgba(0, 0, 0, 0)), url("../img/netmattersbuilding.png"), no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: center center;
    overflow: hidden;
    height: rem(577);
    max-width: 100%;
    color: $bg-white;
    @include md {
        h1 {
            margin-bottom: 0;
        }
    }
    @include lg {
        max-height: rem(550);
    }
}

//hero image dots

.container-hi-dot {
    display: flex;
    cursor: pointer;
    position: absolute;
    bottom: rem(45);
    left: 50%;
    transform: translateX(-50%);
    .hi-dot {
        display: block;
        margin: 0 rem(10);
        background-color: $hi-dot-grey;
        border-radius: 50%;
        height: rem(11);
        width: rem(11);
        align-self: flex-end;
        &:hover {
            background-color: $bg-white;
        }
    }
    > div:first-child {
        background-color: $bg-white;
        &::after {
            content: "";
            position: absolute;
            top: -6px;
            left: 4px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            border: 2px solid $bg-white;
            color: $bg-white;
        }
    }
}

//carousel after our services & after news

.carousel-2, 
.carousel-3 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: hidden;
    height: rem(70);
    gap: rem(50);
    > img {
        
        align-self: center;
        max-height: rem(70);
        padding: 0 rem(20);
        filter: grayscale(1);
        opacity: 0.8;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}

// case study logo images
//logo-img img-1 to img- 7
// .logo-img {
//     // overflow-x: hidden;
// }
.img-1:hover + .cs1,
    div:hover .cs1 {
        display: block;
        // overflow: visible;
    }

    .cs1 {
    display:none;
    position: absolute;
    bottom: 100%;
    left: 0;
    // transform: translateY(-200%);
    z-index: 9999;
    padding-top: rem(50);
    padding-bottom: rem(50);
    text-decoration: none;
    width: 280px;
    height: 200px;
    color: $bg-white;
    background-color: $bg-midnight;
    border: 3px solid $bg-midnight;
    text-align: center;
}
// .cs1 {
//     display:none;
//     position: absolute;
//     // bottom: 100%;
//     left: 0;
//     bottom: 0;
//     transform: translateY(-100%);
//     z-index: 9999;
    // padding-top: rem(50);
    // padding-bottom: rem(50);
    // text-decoration: none;
    // width: 280px;
    // height: 200px;
    // color: $bg-white;
    // background-color: $bg-midnight;
    // border: 3px solid $bg-midnight;
// }


    // .cs1 {
    //     display:none;
    //     position: absolute;
    //     bottom: 100%;
    //     left: 50%;
    //     transform: translate(-50%, -10px);
    //     z-index: 9999;
    //     padding-top: rem(50);
    //     padding-bottom: rem(50);
    //     text-decoration: none;
    //     width: 280px;
    //     // height: 200px;
    //     color: $bg-white;
    //     background-color: $bg-midnight;
    //     border: 3px solid $bg-midnight;
    //     text-align: center;
    //     white-space: nowrap;
    // }
    // img-1:hover .cs1 {
    //     display: block;
    // }
// .img-1:hover {
//         .cs1 {
//             display: block;
//         }
// .carousel-3 {
//     > img:hover {
//         + .cs1 {
//         display: block;
//         }
//     }
//         // &::before {
//         //     content: "";
//         //     width: 0;
//         //     height: 0;
//         //     border-style: solid;
//         //     border-width: 18px 35px 0 35px;
//         //     border-color: $bg-midnight transparent transparent transparent;
//         //     top: 100%;
//         //     top: 100%;
//         //     z-index: 13;
//         //     position: absolute;
//         // }
//     }

//breakpoints
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1260px;
