// 1st carousel containing hero image/s
.carousel-1 {
    position: relative;
    border: 1px #bbb clear;
    box-shadow: 0 4px 35px rgba(0,0,0,0.1);
    height: 550px;
    // text-align: center;
    background-color: $bg-white;
    margin-bottom: 30px;
    p {
        font-weight: 600;
        line-height: 1.75rem;
        margin-bottom: rem(6);
        font-size: rem(20);
        // align-self: center;

    }
    .btn {
        // align-self: center;
        height: 62px;
        &:hover {
            background-color: #7e57a0;
            border-color: #735093;
        }
    }
    @include sm {
        padding-top: 0;
    }
    @include md {
        
        h1 {
            font-size: rem(64);
            line-height: rem(80);
        }
        p {
            width: 80%;
            font-size: rem(26);
            line-height: rem(40);
        }
    }
}
.carousel {
    padding: rem(50) 0;
    position: relative;
}

$hero-images: (
    one: $design-purple,
    two: $dev-yellow,
    three: $support-blue,
    four: $market-green,
    five: $telecoms-red,
    six: $design-purple,
    seven: $training-orange,
);
.hero-img {
    @each $name, $hero-color in $hero-images {
        &--#{$name} {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), 33%, rgba(0, 0, 0, 0.5), 66%, rgba(0, 0, 0, 0.45)), url("../img/carousel-image-#{$name}.png");
            background-repeat: no-repeat;
            
            @include md {
                background: linear-gradient(to right, rgba(0, 0, 0, 0.8), 33%, rgba(0, 0, 0, 0.4), 66%, rgba(0, 0, 0, 0)), url("../img/carousel-image-#{$name}.png");
            }
            #caro-hi-#{$name} .hi-btn {
                background-color: $hero-color;
                text-decoration: none;
                color: $bg-white;
                border: none;
                margin: 31px 0 18px 0;
                &:hover {
                    background-color: darken($hero-color, 7%);
                }
            }
        }
    }
}
#caro-hi-one {
    height: 581px;
    @include sm {
        height: 550px;
    }
}
.carousel-1 .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    bottom: 25px;
    right: 50%;
    transform: translateX(50%);
    li {
        margin: 0 10px;
        border-radius: 50%;
        background-color: $hi-dot-grey;
        width: 11px;
        height: 11px;
        &:hover {
            background-color: $bg-white;
            cursor: pointer;
        }
    }
    .slick-active {
        background-color: $bg-white;
        padding-bottom: 1px;
    }
    .slick-active::before {
            content: "";
            display: inline-block;
            position: relative;
            top: -6px;
            left: -6px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            border: 2px solid $bg-white;
            color: $bg-white;
    }
}
.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-size: cover;
    background-attachment: inherit;
    background-position: center center;
    overflow: hidden;
    max-width: 100%;
    color: $bg-white;
    min-height: 550px;
    @include xs {
        justify-content: center;
    }
    @include md {
        h1 {
            margin-bottom: 0;
        }

    }
}


//carousel after our services 
.carousel-2 .slick-track {
    height: rem(70);
    img {
        align-self: center;
        max-height: rem(70);
        padding: 0 rem(50);
        filter: grayscale(1);
        opacity: 0.8;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}
// carousel of logos/case studies- after news
.caro-behind {
    z-index: 1;
}
.carousel-3 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    height: rem(70);
    h4 {
        margin: 0;
    }    
    img {
        align-self: center;
        max-height: rem(70);
        filter: grayscale(1);
        
        opacity: 0.8;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
    .slick-list {
        overflow: visible;
    }
}

// case study popups on carousel-3 logos

.carousel-item {
    position: relative;
    margin: 0 50px;
}
.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 5;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    display: none;
    width: rem(280);
    padding: rem(20);
    margin-bottom: 40px;
    text-decoration: none;
    color: $bg-white;
    background-color: $bg-midnight;
    border: 3px solid $bg-midnight;
    text-align: center;
}
//triangle under popup

.logo-tri {
    min-width: 100%;
}
.logo-tri::after {
    content: "";
    display: none;
    margin: auto;
    border-color: $bg-midnight transparent transparent;
    border-width: rem(35) rem(35) 0;
    border-style: solid;
    position: absolute;
    top: -41px;
    left: calc(50% - 36px);
    pointer-events: auto;
    padding-bottom: 40px;
}

.logo-wrap {
    position: relative;
    &:hover .popup,
    &:focus-within .popup {
        display: flex;
    }
    &:hover .logo-tri::after,
    &:focus-within .logo-tri::after {
        display: inline-block;
    }
}

// mixin for logo/case studies popups

$logo-pops: (
    img-1: cs1,
    img-2: cs2,
    img-3: cs3,
    img-4: cs4,
    img-5: cs5,
    img-6: cs6,
    img-7: cs7,
    img-8: cs8,
    img-9: cs9,
    img-10: cs10,
    img-11: cs11,
    img-12: cs12,
    img-13: cs13
);

.logo-img {
    @each $name, $popup in $logo-pops {
    &--#{$name} {
            &:hover + .#{$popup} {
                display: flex;
            }
        }
    }
}

.logo-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    width: rem(240);
    height: rem(47);
    padding: 5px 15px;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.arrow-right {
    margin-left: 12px;
    margin-right: -6px;
}
.underline {
    margin-left: 0;
}
.arrowsmaller {
    font-size: 1.4rem;
    text-decoration-thickness: 1px;
    margin-bottom: -2px;
}