// 1st carousel containing hero image/s
.carousel-1 {
    position: relative;
    border: 1px #bbb clear;
    box-shadow: 0 4px 35px rgba(0,0,0,0.1);
    height: auto;
    text-align: center;
    p {
        font-weight: 600;
        line-height: 1.75rem;
        margin-bottom: rem(6);
        font-size: rem(20);
        align-self: center;

    }
    .btn {
        align-self: center;
        height: 62px;
        &:hover {
            background-color: #7e57a0;
            border-color: #735093;
        }
    }
    @include sm {
        padding-top: 0;
    }
    @include md {
        
        h1 {
            font-size: rem(64);
            line-height: rem(80);
            text-align: start;
        }
        p {
            width: 80%;
            font-size: rem(26);
            line-height: rem(40);
            text-align: start;
            align-self: initial;
        }
        .btn {
            align-self: start;
        }
    }
}
.carousel {
    padding: rem(50) 0;
    position: relative;
}
//Top carousel- image after header/nav bar

.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), 33%, rgba(0, 0, 0, 0.4), 66%, rgba(0, 0, 0, 0)), url("../img/netmattersbuilding.png"), no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: center center;
    overflow: hidden;
    height: rem(577);
    max-width: 100%;
    color: $bg-white;
    @include xs {
        justify-content: center;
    }
    @include md {
        h1 {
            margin-bottom: 0;
        }
    }
    @include lg {
        max-height: rem(550);
    }
}

//hero image dots

.container-hi-dot {
    display: flex;
    cursor: pointer;
    position: absolute;
    bottom: rem(45);
    left: 50%;
    transform: translateX(-50%);
    .hi-dot {
        display: block;
        margin: 0 rem(10);
        background-color: $hi-dot-grey;
        border-radius: 50%;
        height: rem(11);
        width: rem(11);
        align-self: flex-end;
        &:hover {
            background-color: $bg-white;
        }
    }
    // active hero image dot
    > div:first-child {
        background-color: $bg-white;
        &::after {
            content: "";
            position: absolute;
            top: -6px;
            left: 4px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            border: 2px solid $bg-white;
            color: $bg-white;
        }
    }
}

//carousel after our services 
.carousel-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: hidden;
    height: rem(70);
    gap: rem(100);
    img {
        
        align-self: center;
        max-height: rem(70);
        padding: 0 rem(20);
        filter: grayscale(1);
        opacity: 0.8;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}
// carousel of logos/case studies- after news
 
.carousel-3 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: clip;
    height: rem(70);
    h4 {
        margin: 0;
    }    
    img {
        align-self: center;
        max-height: rem(70);
        filter: grayscale(1);
        opacity: 0.8;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}

// case study popups on carousel-3 logos

.carousel-item {
    position: relative;
    margin: 0 50px;
}
.popup {
    position: absolute;
    flex-direction: column;
    align-items: center; 
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    display: none;
    width: rem(280);
    padding: rem(20);
    margin-bottom: 40px;
    text-decoration: none;
    color: $bg-white;
    background-color: $bg-midnight;
    border: 3px solid $bg-midnight;
    text-align: center;
}
//triangle under popup

.logo-tri {
    min-width: 100%;
}
.logo-tri::after {
    content: "";
    display: none;
    margin: auto;
    border-color: $bg-midnight transparent transparent;
    border-width: rem(35) rem(35) 0;
    border-style: solid;
    position: absolute;
    top: -41px;
    left: calc(50% - 36px);
    pointer-events: auto;
    padding-bottom: 40px;
}

.logo-wrap {
    position: relative;
    &:hover .popup,
    &:focus-within .popup {
        display: flex;
    }
    &:hover .logo-tri::after,
    &:focus-within .logo-tri::after {
        display: inline-block;
    }
}

// mixin for logo/case studies popups

$logo-pops: (
    img-1: cs1,
    img-2: cs2,
    img-3: cs3,
    img-4: cs4,
    img-5: cs5,
    img-6: cs6,
    img-7: cs7,
);

.logo-img {
    @each $name, $popup in $logo-pops {
    &--#{$name} {
            &:hover + .#{$popup} {
                display: flex;
            }
        }
    }
}

.logo-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    width: rem(240);
    height: rem(47);
    padding: 5px 15px;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.arrow-right {
    margin-left: 12px;
    margin-right: -6px;
}
.underline {
    margin-left: 0;
}