.carousel-1 {
    position: relative;
    border: 1px #bbb clear;
    padding: 30px 0 0;
    box-shadow: 0 4px 35px rgba(0,0,0,0.1);
    height: auto;
    text-align: center;
    p {
        font-weight: 600;
        line-height: 1.75rem;
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        align-self: center;

    }
    .btn {
        align-self: center;
    }
    @include md {
        h1 {
            width: 80%;
            font-size: rem(64);
            line-height: rem(80);
            text-align: start;
        }
        p {
            width: 80%;
            font-size: rem(26);
            line-height: rem(40);
            text-align: start;
            align-self: initial;
        }
        .btn {
            align-self: start;
        }
    }
}

//Top carousel- image after header

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../img/netmattersbuilding.png"), no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: center center;
    overflow: hidden;
    height: rem(600);
    max-width: 100vw;
    color: $bg-white;
    @include sm {
        width: 100vw;
    }
}

//carousel of logos above footer
.carousel-logos-2,
.carousel-logos-3,
.carousel-logos-4 {
    display: none;
}
.carousel {
    padding-bottom: rem(50);
}
@include sm {
    .carousel-3 {
        max-width: 750px;
    }
    .carousel-logos-1,
    .carousel-logos-3,
    .carousel-logos-4 {
        display: none;
    }
    .carousel-logos-2 {
        display: block;
    }
}

@include md {
    .carousel-3 {
        max-width: 970px;
    }
    .carousel-logos-1,
    .carousel-logos-2,
    .carousel-logos-4 {
        display: none;
    }
    .carousel-logos-3 {
        display: block;
    }
}

@include lg {
    .carousel-3 {
        max-width: 1200px;
    }
    .carousel-logos-1,
    .carousel-logos-3,
    .carousel-logos-2 {
        display: none;
    }
    .carousel-logos-4 {
        display: block;
    }
}
//breakpoints
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1260px;

