.carousel-1 {
    position: relative;
    border: 1px #bbb clear;
    padding: 30px 0 0;
    box-shadow: 0 4px 35px rgba(0,0,0,0.1);
    height: auto;
    text-align: center;
}

.hero-img {
    background-image: url("../img/netmattersbuilding.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    overflow: hidden;
    height: 550px;
    max-width: 100vw;
    color: $bg-white;
}

