.carousel-1 {
    position: relative;
    border: 1px #bbb clear;
    padding: 30px 0 0;
    box-shadow: 0 4px 35px rgba(0,0,0,0.1);
    height: auto;
    text-align: center;
}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url("../img/netmattersbuilding.png");
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    overflow: hidden;
    height: 550px;
    max-width: 100vw;
    color: $bg-white;
    @include sm {
        width: 100vw;
    }
}
.carousel-logos-2,
.carousel-logos-3,
.carousel-logos-4 {
    display: none;
}

@include sm {
    .carousel-3 {
        max-width: 750px;
    }
    .carousel-logos-1,
    .carousel-logos-3,
    .carousel-logos-4 {
        display: none;
    }
    .carousel-logos-2 {
        display: block;
    }
}

@include md {
    .carousel-3 {
        max-width: 970px;
    }
    .carousel-logos-1,
    .carousel-logos-2,
    .carousel-logos-4 {
        display: none;
    }
    .carousel-logos-3 {
        display: block;
    }
}

@include lg {
    .carousel-3 {
        max-width: 1200px;
    }
    .carousel-logos-1,
    .carousel-logos-3,
    .carousel-logos-2 {
        display: none;
    }
    .carousel-logos-4 {
        display: block;
    }
}
//breakpoints
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1260px;

