body {
    color: $bg-midnight;
}
#contact-offices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 35px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    @include md {
        flex-direction: row;
    }
}
.office-box {
    max-width: 718px;
    border: 1px solid #ccc;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 3px 35px $grey-10;
    @include md {
        max-width: 332px;
    }
    @include lg {
        max-width: 400px;
    }
}
.office-img {
    width: 100%;
    img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
}
.office-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    p {
        font-size: 14px;
        color: #666;
        margin-bottom: 0;
    }
}
.office-title {
    color: #121419;
    font-size: 20px;
    font-weight: 400;
}

.btn-office {
    font-size: 15px;
    padding: 5px 30px;
    background-color: $design-purple;
    border-color: $design-purple;
    line-height: 35px;
    width: 144px;
    color: $bg-white;
    font-family: 'Poppins', sans-serif;
    &:hover {
        background-color: darken($design-purple, 10%);
        cursor: pointer;
    }
}

.office-phone {
    color: $design-purple;
    font-size: 26px;
    font-weight: 700;
}
.office-phone:hover, .office-title:hover {
    text-decoration: underline;
}
#link-container {
    display: none;
    background-color: $bg-white;
    min-height: 47px;
    border-top: 1px solid $bg-midnight;
    box-shadow: 0 5px 35px $grey-10;
    @include sm {
        display: block;
    }
}
.link-top {
    display: none;
    background-color: $bg-white;
    color: $bg-midnight;
    font-size: 13px;
    width: 100%;
    max-width: 718px;
    padding: 13px 0;
    margin-bottom: 0;
    @include sm {
        display: block;
    }
    @include md {
        max-width: 940px;
    }
    @include lg {
        max-width: 1170px;
    }
    a {
        font-weight: 700;
        color: $bg-midnight;
        &:hover {
            text-decoration: underline;
        }
    }
}

#top-of-page {
    background-color: $bg-midnight;
    color: $bg-white;
    margin-bottom: 50px;
    h1 {
        font-weight: 400;
        padding: 20px 15px;
        font-size: 36px;
        @include lg {
            padding: 20px 0;
        }
    }
    @include md {
        background-color: $bg-white;
        h1 {
            color: $bg-midnight;
            text-align: left;
            max-width: 1170px;
        }
    }
    .top {
        height: 88px;
    }
}

//contact info section
#contact-info {
    font-weight: 600;
    padding-top: 40px;
    @include lg {
        padding-top: 0;
        
    }
    p {
        padding-bottom: 8px;
    }
    a {
        font-size: 24px;
        color: $design-purple;
        &:hover {
            text-decoration: underline;
        }
    }
}
//accordion
#accord-title {
    font-weight: 600;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
#accord-text {
    transition: max-height 0.5s cubic-bezier(0.54, 0.4, 0.6, 1);
    overflow: hidden;
    p {
        line-height: 28px;
        color: #666;
        font-size: 16px;
        strong {
            color: $bg-midnight;
            font-weight: 600;
        }
    }
}
.accord-body-default {
    max-height: 405px;
}
.accord-body-hide {
    max-height: 0;
    transition: max-height 0.6s ease-in-out;
}

//contact form
#contact-form {
    display: flex;
    padding: 30px;
    background-color: #e6e7e9;
    border-radius: 10px;
    color: #555;
    margin-bottom: 50px;
    max-width: 770px;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: space-between;
    @include md {
        column-gap: 5px;
    }
    .form-pair {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        input {
            padding: 5px 15px;
            margin-bottom: 15px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            border-radius: 2px;
            
        }
        label {
            margin-bottom: 5px;
            font-weight: 600;
            color: #333655;
            font-size: 16px;
            strong {
                color: #d24d57;
            }
        }
    }
    .pair-sm {
        width: 100%;
        @include md {
            width: 48%;
            input {
                max-width: 425px;
            }
        }
    }
}
//bottom of contact form
#form-bottom1 {
   display: flex;
flex-direction: row; 
}
 #form-bottom2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    small {
        margin-bottom: 10px;
        font-size: 80%;
    }
    small strong {
        color: #d24d57;
    }
    @include xs {
        flex-direction: row;
        small {
            font-size: 85%;
        }
    }
}

#enquiry-button {
        height: 47px;
        background-color: $bg-midnight;
        border-color: #191a22;
        color: $bg-white;
        line-height: 35px;
        font-size: 17px;
        width: 150px;
        &:hover {
            background-color: #22242e;
            cursor: pointer;
        }
    }

#form-bottom1 {
    justify-content: left;
    margin-bottom: 20px;
    cursor: pointer;
}

#checkbox {
    height: 32px;
    fill: $bg-midnight;
    margin-right: 10px;
    max-width: 50px;
}

#form-bottom1 #checkbox-mark {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 4px;
    margin-left: 9px;
}

#form-bottom1.checkmark-there #checkbox-mark {
    display: inline-block;
}

#form-bottom1.checkmark-gone #checkbox-mark {
    display: none;
}

#checkbox-text {
    line-height: 32px;
    font-size: 16px;
    color: $bg-midnight;
    font-weight: 600;
    a {
        color: $bg-midnight;
        text-decoration: underline;
        &:hover {
        color: #121419;
        }
    }
}


#form-hours-wrapper {
    padding-bottom: 50px;
    @include lg {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 40px;
    }
}
.input {
    border: 1px solid #ccc;
}
.error {
    border-color: $telecoms-red;
}
.input-sm {
    height: 47px;
}
#message {
    height: 100px;
}
.error-msg {
    color: #d24d57;
}

//because the sidebar overlaps
#main-body, #form-hours-wrapper {
    position: relative;
    z-index: 10;
    background: $bg-white;
}