.cookie-manage {
    display: flex;
    position: fixed;
    padding: 3px 10px 3px 10px;
    background-color: $cookie-manage;
    bottom: 0;
    left: 0;
    color: $bg-white;
    border: solid 1px $cookie-manage;
    border-top-right-radius: 10px;
    text-align: center;
    z-index: 25;
    height: auto;
    font-weight: 600;
    font-size: 13px;
}

#cookie-background {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    padding: 30px;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 30;
}

#cookie-popup {
    position: relative;
    max-width: 600px;
    background-color: $bg-white;
    z-index: 31;
    border-radius: 5px;
    border: 1px solid $grey-25;
}
.cookie-title {
    padding: 15px 20px;
    margin: 0;
    font-weight: 400;
}
.cookie-text {
    padding: 20px;
    border-top: 1px solid $grey-25;
    color: #666;
    line-height: 30px;
}
#cookie-buttons {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid $grey-25;
    justify-content: space-around;
    align-content: space-around;
    @include sm {
        flex-direction: row;
    }
}
.btn-cookie {
    display: block;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    text-align: center;
    padding: 5px 15px;
    height: 47px;
    width: 100%;
    color: $bg-white;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 16px;
    font-weight: 400;
    &:hover {
        cursor: pointer;
    }
}
.btn-change {
    margin-bottom: 30px;
    background-color: #999aa2;
    @include sm {
        margin-bottom: 0;
        margin-right: 30px;
    }
    &:hover {
        background-color: #84858f;
    }
}
.btn-accept {
    background-color: #926fb1;
    &:hover {
        background-color: #7e57a0;
    }
}