footer {
    background-color: $bg-midnight;
    color: $bg-white;
    padding: 50px 0;
    margin: 0;
    .footer-row {
        display: flex;
        flex-wrap: wrap;

        .footer-menu {
            flex:100%;
            margin-bottom: 30px;
            
            margin: 0 auto;
            @include sm {
                flex: 50%;
            }
            @include md {
                flex: 25%;
            }
            @include lg {
                margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;
            }
        }
    }
}
footer {
    a {
    color: white;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            font-size: 0.8rem;
            line-height: 1.375rem;
            }
    }
}

.list-soc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 55px;
        background-color: $wel-black;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 12px 22px 16px;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;     
    }
    img {
        width: 100%;
        height: auto;
        max-width: 32px;
    }
}

// after footer

.footer-aft {
    background-color: $wel-black;
    color: $bg-white
}