footer {
    background-color: $bg-midnight;
    color: $bg-white;
    padding: 30px 0 0;
    position: relative;
    .footer-row {
        display: flex;
        flex-wrap: wrap;

        .footer-menu {
            flex:100%;
            margin-bottom: 30px;
            // padding-left: 15px;
            // padding-right: 15px;
            margin: 0 auto;
            @include sm {
                flex: 50%;
            }
            @include md {
                flex: 25%;
            }
            @include lg {
                margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;
            }
        }
    }
}
footer {
    a {
    color: white;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            font-size: 0.8rem;
            line-height: 1.375rem;
            }
    }
}