footer {
    background-color: $bg-midnight;
    color: $bg-white;
    padding: 27px 0;
    margin: 0;
    @include lg {
        padding-top: 0;
    }
    .footer-row {
        display: flex;
        flex-wrap: wrap;
        a:hover {
            text-decoration: underline;
        }
        .footer-menu {
            min-width: 0;
            flex:100%;
            margin-bottom: 30px;
            margin: 0 auto;
            line-height: 1.1;
            @include sm {
                flex: 50%;
            }
            @include md {
                flex: 25%;
            }
            @include lg {
                padding: 0 rem(15);
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;
                margin-top: 0;
                font-weight: 400;
            }
            .nowrap {
                text-wrap: nowrap;
            }
        }
    }
    padding-bottom: 0;
    a {
    color: white;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            font-size: 0.8rem;
            line-height: 1.375rem;
            }
    }
}
@include lg {
    .footer-all {
        display: flex;
        flex: 20%;
        padding: rem(40) rem(15);
        flex-grow: 1;
        ul {
            font-size: 0.8rem;
        }
    }
    .footer-info {
        width: rem(400);
    }
}
.logo-2 {
    margin-bottom: -30px;
    width: 320px;
    height: auto;
}
.container-soc {
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 26px;
}
.list-soc {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    fill: $bg-white;
    flex-wrap: wrap;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 109px;
        height: 55px;
        background-color: $wel-black;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 12px 22px 16px;
    }
    @include xs {
        flex-wrap: nowrap;
        li {
            width: 65px;
        }
    }
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;     
    }
    svg {
        width: 100%;
        height: auto;
        max-width: 32px;
    }
}

// after footer

.footer-aft {
    background-color: $wel-black;
    color: $bg-white;
    padding-left: auto;
    padding-right: auto;
}
.footer-cr {
    display: flex;
    text-wrap: wrap;
    flex-direction: column;
    font-size: 0.8125rem;
    a {
        color: $bg-white;
        &:hover {
            text-decoration: underline;
        }
        &::before {
            content: "";
            display: none;
            margin-right: 5px;
            margin-left: 0;
            font-size: 0.81rem;
            line-height: 1.375rem;
            color: $bg-white;
            background-color: $bg-white;
            vertical-align: middle;
            @include sm {
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                width: 5px;
                height: 1px;
            }
        }
    }
}
@include xs {
    .footer-cr {
        padding: rem(10) 0; 
    }
}
@include sm {
    .footer-cr {
        flex-direction: row;
    }
}