.true-header {
    position: sticky;
    top: 0;
    z-index: 12;
    background-color: $bg-white;
    transition: top 0.4s ease;
}
.header-hidden {
    position: absolute;
    top: -212px;
    transition: top 0.4s ease;
    z-index: 12;
}
.header-default {
    position: relative;
    top: 0;
    z-index: 12;
    width: 100vw;
}
//netmatters logo
.logo {
    max-width: 100%;
    width: rem(402);
    height: auto;
    object-fit: scale-down;
    padding-right: rem(15);
}

#phone-icon {
    height: rem(32);
    width: rem(32);
}
.ph-hov:hover {
    text-decoration: underline;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 3px;
}
.burger {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 63px;
    height: 56px;
    background-color: $bg-midnight;
    border-radius: 3px;
    padding: 0;
    margin: 0;
        &:hover {
           background-color: #22242e; 
        }
        .mid {
        position: relative;
        top: 50%;
        right: 4px;
        width: 35px;
        height: 4px;
        background-color: $bg-white;
        transform: translate(50%, -50%);    
        transition: transform 0.4s ease, top 0.4s ease; 
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 4px;
                top: -10px;
                background-color: $bg-white;
                left: 0;
                transition: transform 0.4s ease, top 0.4s ease; 
            }
            &::before {
                top: -10px;
            }
            &::after {
                top: 10px;
            }
    }
}
.burger-burger-clicked .mid {
  transform: translate(50%, -50%) rotate(45deg);
  transition: transform 0.4s ease, top 0.4s ease;
  &::before {
    top: 0;
    transform: rotate(90deg);
    transition: transform 0.4s ease, top 0.4s ease;
  }
  &::after {
    display: none;
  }
}

// I accidentally mixed up the plane-icon and mouse-icon names
#search-bar--sm-3,
#mouse-icon,
#plane-icon {
    display: none;
}

@include sm {
    #phone-icon {
        display: none;
    }
    #search-bar--sm-3 {
        display: inline-block;
        position: relative;
        height: 56px;
        border-radius: 3px;
        color: $bg-white;
        font-size: rem(20);
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        form {
            display: flex;
            align-items: center;
        }
        input {
            font-family: 'Poppins', sans-serif;
            padding: 5px 15px;
            width: 174px;
            height: 56px;
            border: rem(1) solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            &:focus {
            border-color: #5bc0de;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
            outline: 0;
            
            }
        }
        &::placeholder {
                font-family: 'Poppins', sans-serif;
            }
        button {
            padding: 7px 20px 3px 20px;
            width: 63px;
            height: 56px;
            align-content: center;
            background: $srch2-bg;
            border: transparent;
            border-radius: 0px 3px 3px 0px;
            cursor: pointer;
            &:hover {
                background-color: $srch2-bg-hov;
            }
            & svg {
                fill: $bg-white;
                height: rem(23);
                width: rem(23);
                vertical-align: middle;
                align-self: center;
            }
        }
    }
    .header-order > .btn-header {
        gap: 0;
    }
}

@include md {
    #plane-icon {
        background-color: #4183d7;
        &:hover {
            background-color: #2a6ec6;
        }
    }
        #mouse-icon,
        #search-icon {
        background-color: $srch2-bg;
        &:hover {
            background-color: $srch2-bg-hov;
        }
    }
    #plane-icon,
    #mouse-icon,
    .search-btn {
        display: flex;
        position: relative;
        height: 56px;
        border-radius: 3px;
        color: $bg-white;
        font-size: rem(18);
        align-items: center;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        & svg {
            fill: $bg-white;
            height: rem(23);
            width: rem(23);
            align-self: center;
        }
    }
    #search-bar--sm-3 {
        margin-right: 0;
        button {
            width: 63px;
            padding: 0 rem(20);
            border-radius: 3px;
        }
    } 
    #plane-icon,
    #mouse-icon {
        padding: rem(5) rem(15);
        & svg {
            margin-right: rem(5);
        }
    }
    #search-text {
        display: none;
    }
    .header-order > .btn-header {
        gap: rem(18);
    }
}

@include lg {
    #search-text {
        display: inline-block;
        min-width: rem(240);
    }
    #search-bar--sm-3 button {
        border-radius: 0 3px 3px 0;
    }
}
// idk why I didn't target the header directly
.header-order {
    background-color: $bg-white;
    display: flex;
    // width: 100%;
    padding: rem(20) rem(15);
    z-index: 12;
    > .container-logo,
    > .btn-header {
        flex: 1 1 auto;
    }
    > .container-logo {
        display: flex;
        align-items: center;
    }
    &::before {
        content: "";
        display: flex;
    }
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "logo header"
    "search search";

  > .container-logo {
    grid-area: logo;
  }
  > .btn-header {
    grid-area: header;
    display: flex;
    align-items: center;
    gap: rem(18);
  }
  > #search-bar--sm {
    grid-area: search;
    width: 100%;
  }
}
.btn-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-left: rem(15);
}

//smallest screen search bar

#search-bar--sm {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 5px 15px;
    margin-top: rem(10);
    height: rem(47);
    background-color: $srch-bg-grey;
    color: $srch-tx-grey;
    border: rem(1) solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    input {
        flex: 1;
        border: none;
        background: none;
        outline: none;
    }
    button {
        padding: 7px 0 3px 0;
        align-content: center;
        border: none;
        background: none;
        border-radius: 0px 3px 3px 0px;
        cursor: pointer;
        & svg {
            fill: $bg-midnight;
            height: rem(23);
            width: rem(23);
            vertical-align: middle;
            align-self: center;
        }
    }
    @include sm {
        display: none;
    }
}

#header-scroll {
    background-color: $bg-white;
}
#spacer {
    width: 100vw;
    height: 212px;
    margin: 0;
    padding: 0;
    background-color: $bg-white;
}
.spacer-hidden {
    display: none;
}
.spacer-display {
    display: block;
}