.logo {
    max-width: 402px;
    max-height: 100%;
    object-fit: scale-down;
}
.container-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 15px;
}

.burger {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 63px;
    height: 56px;
    background-color: $bg-midnight;
    border-radius: 3px;
        .mid {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35px;
        height: 4px;
        background-color: $bg-white;
        transform: translate(-50%, -50%);
        transition: 0.4s;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 4px;
                top: -10px;
                transition: 0.4s;
                background-color: $bg-white;
}
            &::before {
                top: -10px;
            }
            &::after {
                top: 10px;
            }
    }
}

#phone-icon {
    @include sm {
        display: none;
    }
}

.header-order {
    padding: 15px 0px;
}

.btn-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: right;
    padding: 15px;
}

//smallest screen search bar

#search-bar--sm {
    justify-self: center;
    padding: 0px 15px;
    input {
        padding: 5px 40px 5px 15px;
        height: 47px;
    }
    button {
        float: right;
        padding: 5px 10px;
        height: 47px;
        background: #bbb;
        border: none;
        cursor: pointer;
    }
    @include sm {
        display: none;
    }
}

//breakpoint small search bar

#search-bar--sm-2 {
    display: none;
    @include sm {
        display: inline-flex;
        margin-right: 20px;
        input {
            padding: 5px 15px;
            width: 174px;
            height: 56px;
            border: 1px solid grey;
        }

        button {
            float: right;
            padding: 7px 20px 3px 20px;
            width: 63px;
            height: 56px;
            align-content: center;
            background: #bbb;
            border: transparent;
            border-radius: 0px 3px 3px 0px;
            cursor: pointer;
        }
    }
}