.true-header {
    position: sticky;
    top: 0;
    z-index: 12;
    background-color: $bg-white;
}

.logo {
    width: 100%;
    max-width: rem(402);
    height: auto;
    object-fit: scale-down;
    padding-right: rem(15);
}
@include sm {
    btn-header {
        gap: 0;
    }
}
#phone-icon {
    height: rem(32);
    width: rem(32);
}
.burger {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 63px;
    height: 56px;
    background-color: $bg-midnight;
    border-radius: 3px;
        &:hover {
           background-color: #22242e; 
        }
        .mid {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35px;
        height: 4px;
        background-color: $bg-white;
        transform: translate(-50%, -50%);
        transition: 0.4s;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 4px;
                top: -10px;
                transition: 0.4s;
                background-color: $bg-white;
}
            &::before {
                top: -10px;
            }
            &::after {
                top: 10px;
            }
    }
}

#search-bar--sm-3,
#mouse-icon,
#plane-icon {
    display: none;
}

@include sm {
    #phone-icon {
        display: none;
    }
    #search-bar--sm-3 {
        display: inline-block;
        position: relative;
        height: 56px;
        border-radius: 3px;
        color: $bg-white;
        font-size: rem(20);
        text-align: center;
        // vertical-align: middle;
        cursor: pointer;
        text-transform: uppercase;
        // align-items: center;
        margin-right: 1.25rem;
        form {
            display: flex;
            align-items: center;
        }
        input {
            padding: 5px 15px;
            width: 174px;
            height: 56px;
            border: rem(1) solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        button {
            padding: 7px 20px 3px 20px;
            width: 63px;
            height: 56px;
            align-content: center;
            background: $srch2-bg;
            border: transparent;
            border-radius: 0px 3px 3px 0px;
            cursor: pointer;
            &:hover {
                background-color: $srch2-bg-hov;
            }
            & svg {
                fill: $bg-white;
                height: rem(23);
                width: rem(23);
                vertical-align: middle;
                align-self: center;
            }
        }
    }
}

@include md {
    #plane-icon {
        background-color: #4183d7;
        &:hover {
            background-color: #2a6ec6;
        }
    }
        #mouse-icon,
        #search-icon {
        background-color: $srch2-bg;
        &:hover {
            background-color: $srch2-bg-hov;
        }
    }
    #plane-icon,
    #mouse-icon,
    .search-btn {
        display: flex;
        position: relative;
        height: 56px;
        border-radius: 3px;
        color: $bg-white;
        font-size: rem(18);
        align-items: center;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        & svg {
            fill: $bg-white;
            height: rem(23);
            width: rem(23);
            align-self: center;
        }
    }
    #search-bar--sm-3 {
        margin-right: 0;
        button {
            width: 63px;
            padding: 0 rem(20);
            border-radius: 3px;
        }
    } 
    #plane-icon,
    #mouse-icon {
        padding: rem(5) rem(15);
        & svg {
            margin-right: rem(5);
        }
    }
    #search-text {
        display: none;
    }
}

@include lg {
    #search-text {
        display: inline-block;
        min-width: rem(240);
    }
    #search-bar--sm-3 button {
        border-radius: 0 3px 3px 0;
    }
}


.header-order {
    background-color: $bg-white;
    display: flex;
    padding: rem(20) rem(15);
    z-index: 12;
    > .container-logo,
    > .btn-header {
        flex: 1 1 auto;
    }
    > .container-logo {
        display: flex;
        align-items: center;
    }
    &::before {
        content: "";
        display: flex;
    }
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "logo header"
    "search search";

  > .container-logo {
    grid-area: logo;
  }
  > .btn-header {
    grid-area: header;
    display: flex;
    align-items: center;
    gap: rem(16);
    @include sm {
        gap: 0;
    }
    @include md {
        gap: rem(16);
    }
  }
  > #search-bar--sm {
    grid-area: search;
    width: 100%;
  }
}
.btn-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 rem(15);
}

//smallest screen search bar

#search-bar--sm {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 5px 15px;
    margin-top: rem(10);
    height: rem(47);
    background-color: $srch-bg-grey;
    color: $srch-tx-grey;
    border: rem(1) solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    input {
        flex: 1;
        border: none;
        background: none;
        outline: none;
    }
    button {
        padding: 7px 0 3px 0;
        align-content: center;
        border: none;
        background: none;
        border-radius: 0px 3px 3px 0px;
        cursor: pointer;
        & svg {
            fill: $bg-midnight;
            height: rem(23);
            width: rem(23);
            vertical-align: middle;
            align-self: center;
        }
    }
    @include sm {
        display: none;
    }
}

