img {
    max-width: 402px;
}
.container-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    > div {
        flex: 1 1 auto;
    }
    > :nth-child(1) {
        justify-self: left;
    }
    > :nth-child(4) {
        order: 4;
        // flex: 0 0 100%;
        display: flex;
        justify-content: center;
        form {
            // flex-basis: 100%;
            max-width: 600px;
        }
    }
    > :nth-child(-n + 3) {
        flex: 0 1 auto;
        white-space: nowrap;
    }
    @include sm {
        > :nth-child(4) {
            order: 2;
        }
        > :nth-child(2) {
            order: 4;
        }
        > :nth-child(3) {
            order: 3;
        }
    }
}

