.logo {
    width: 100%;
    max-width: rem(402);
    height: auto;
    object-fit: scale-down;
    padding: 0 rem(15);
}

.burger {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 63px;
    height: 56px;
    background-color: $bg-midnight;
    border-radius: 3px;
        &:hover {
           background-color: #22242e; 
        }
        .mid {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35px;
        height: 4px;
        background-color: $bg-white;
        transform: translate(-50%, -50%);
        transition: 0.4s;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 4px;
                top: -10px;
                transition: 0.4s;
                background-color: $bg-white;
}
            &::before {
                top: -10px;
            }
            &::after {
                top: 10px;
            }
    }
}

#phone-icon {
    display: block;
    @include sm {
        display: none;
    }
}
#phone-icon2,
#phone-icon3,
#phone-icon4 {
    display: none;
}
@include md {
    #phone-icon2 {
        background-color: #4183d7;
        &:hover {
            background-color: #2a6ec6;
        }
    }
        #phone-icon3,
        #phone-icon4 {
        background-color: #999aa2;
        &:hover {
            background-color: #84858f;
        }
    }
    #phone-icon2,
    #phone-icon3,
    #phone-icon4 {
        display: inline-block;
        position: relative;
        height: 56px;
        border-radius: 3px;
        
        color: $bg-white;
        font-size: rem(20);
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        text-transform: uppercase;

        img {
            // transform: translate(50%);
            
        }
    }
    #phone-icon4 {
        width: 63px;
        padding: rem(7) rem(20) rem(3);
    }
    #phone-icon2,
    #phone-icon3 {
        padding: rem(5) rem(15);
    }
}
.header-order {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: rem(20) 0;
    > .container-logo,
    > .btn-header {
        flex: 1 1 auto;
    }
    > .container-logo {
        display: flex;
        align-items: center;
    }
    &::before {
        content: "";
        display: flex;
    }
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "logo header"
    "search search";

  > .container-logo {
    grid-area: logo;
  }
  > .btn-header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  > #search-bar--sm {
    grid-area: search;
    width: 100%;
  }
}
.btn-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    // padding: rem(20);
}

//smallest screen search bar

#search-bar--sm {
    display: flex;
    flex: 1;
    width: 100%;
    border: 1px solid $srch-bg-grey;
    input {
        flex: 1;
        padding: 5px 40px 5px 15px;
        height: rem(47);
        background-color: $srch-bg-grey;
        color: $srch-tx-grey;
        outline: none;
    }
    button {
        float: right;
        padding: 5px 10px;
        height: 47px;
        background: $srch-bg-grey;
        color: #888;
        border: none;
        cursor: pointer;
    }
    @include sm {
        display: none;
    }
}

//breakpoint small search bar

#search-bar--sm-2 {
    display: none;
    @include sm {
        display: flex;
        align-items: center;
        margin-right: 1.25rem;
        form {
            display: flex;
            align-items: center;
        }
        input {
            padding: 5px 15px;
            width: 174px;
            height: 56px;
            border: 1px solid grey;
        }

        button {
            padding: 7px 20px 3px 20px;
            width: 63px;
            height: 56px;
            align-content: center;
            background: #bbb;
            border: transparent;
            border-radius: 0px 3px 3px 0px;
            cursor: pointer;
        }
    }
    @include md {
        display: none;
    }
}