body {
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.4px;
    font-size: 1rem;
    background-color: $bg-white;
    overflow-x: clip;
}
* {
    box-sizing: border-box;
}

// reusable container
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
}
.body-burger-clicked:hover {
    cursor: pointer;
}
.body-burger-clicked::after {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 21;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: left 0.4s ease;
}
.default-body {
    transition: left 0.4s ease;
    left: 0;
    position: relative;
}
.body-shifted {
    transition: left 0.4s ease;
    position: relative;
    left: -275px;
    height: 100%;
    overflow: hidden;
    @include md {
        left: -345px;
    }
}