body {
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.4px;
}
* {
    box-sizing: border-box;
}
.container, .container-head {
    margin: 50px, auto;
    padding: 30px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
} 