.main-nav-bar {
    display: none;
    z-index: 12;
    @include md {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        height: rem(117);
        background-color: $bg-midnight;
    }
    @include lg {
        height: rem(99);
    }
}
//nav items matching the our services buttons

.nav-bar-icon {
@each $name, $color in $btn-colors {
  &--#{$name} {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: rem(18) 0;
    width: rem(134);
    border: 1px solid pink;
    background-color: $bg-midnight;
    fill: $color;
    color: $bg-white;
    border: none;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    font-size: rem(18);
    small {
        font-size: rem(10);
        padding-bottom: 1px;
        margin-bottom: -12px;
        @include lg {
            margin-bottom: -5px;
        }
    }
    &:hover {
        
        background-color: $color;
        fill: $bg-white;
        //the triangle under the nav bar icons
        &::after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 35px 23px 0 23px;
                border-color: $color transparent transparent transparent;
                position: absolute;
                top: 100%;
                z-index: 13;
            }
    //  Failed attempt at making only the first child traingle full width
    //         .main-nav-list:first-child &::after {
    //         @include md {
    //         border-width: 35px 68px 0 68px;
    //     }
    // }
    // @include lg {
    //     &::after {
    //         border-width: 35px 83px 0 83px;
    //     }
    // }
        svg {
            color: $bg-white;
        }
    }
    > svg {  
      justify-self: center;
      align-self: center;
      height: rem(23);
      width: auto;
      color: $color;
      }
    }
  }
}


// banner popup
.banner-title {
    width: 100%;
    font-weight: 500;
    // margin-top: rem(15);
    margin-bottom: rem(10);
    font-size: rem(32);
}
.sub-nav-bar {
    height: 117px;
}
.nav-bar-icon {
    height: 117px;
    width: rem(134);
    @include lg {
        height: 99px;
        width: rem(167);
    }
}
.sub-banner {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    margin-top: -rem(15);
    padding-top: rem(50);
    padding-bottom: rem(50);
    color: $bg-white;
    text-decoration: none;
    a {
        color: inherit;
    }
    > .ban-menu {
        width: rem(970);
        @include lg {
            width: rem(1200);
        }
    }
}
.main-nav-list > li {    
    text-decoration: none;
    list-style: none;
}
.main-nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
}


@each $name, $color in $btn-colors {
    .nav-bar-icon--#{$name}:hover + .sub-banner--#{$name} {
            display: block;
            background-color: darken($color, 10%);
            
    }
  li:hover .nav-bar-icon--#{$name} {
    fill: $bg-white;
    color: $bg-white;
    background-color: $color;
    
    &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 18px 35px 0 35px;
            border-color: $color transparent transparent transparent;
            top: 100%;
            top: 100%;
            z-index: 13;
            position: absolute;
           
            @include lg {
                border-width: 35px 83px 0 83px;
            }
            }
            //  another failed attempt at making only the first child traingle full width
            // li:not(:first-child)::after {
            //     border-width: 35px 68px 0 68px;
            // } 
    //     .main-nav-list:first-child &::after {
    //         @include md {
    //         border-width: 35px 68px 0 68px;
    //     }
    // }
    // @include lg {
    //     &::after {
    //         border-width: 35px 83px 0 83px;
    //     }
    // }
}
  li:hover svg {
    color: $bg-white;
  }
  li:hover .sub-banner--#{$name} {
    display: flex;
    flex-wrap: wrap;
    background-color: darken($color, 10%);
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // row-gap: rem(10);
        list-style: none;
    }
    
  }
}
//list inside sub banners
.ba-li {
      width: 33%;
      text-align: left;
      font-size: rem(19);
      line-height: 1.4;
      padding: rem(10) 0;
      text-decoration: none;
      :hover {
        text-decoration: underline;
      }
    }
    .icon-ban {
        fill: $bg-white;
        height: rem(32);
        width: rem(32);
        padding-right: rem(10);
        vertical-align: middle;
      }
