.main-nav-bar {
    position: relative;
    display: none;
    @include md {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        height: rem(117);
        background-color: $bg-midnight;
    }
    @include lg {
        height: rem(99);
    }
}

.nav-bar-icon {
@each $name, $color in $btn-colors {
  &--#{$name} {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: rem(18) 0;
    width: rem(134);
    border: 1px solid pink;
    background-color: $bg-midnight;
    color: $bg-white;
    border: none;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    font-size: rem(18);
    small {
        font-size: rem(10);
    }
    &:hover {
        background-color: $color;
        color: $bg-white;
        svg {
            color: $bg-white;
        }
    }
    > svg {  
      justify-self: center;
      align-self: center;
      height: rem(23);
      width: auto;
      color: $color;
      }
    }
  }
}


// banner popup
.banner-title {
    width: 100%;
    font-weight: 500;
    margin-top: rem(15);
    margin-bottom: rem(10);
    font-size: rem(32);
}
.nav-bar-icon {
    height: 100%;
}
.sub-banner {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    z-index: 30;
    padding-top: rem(50);
    padding-bottom: rem(50);
    color: $bg-white;
    text-decoration: none;
    a {
        color: inherit;
    }
}
.main-nav-list > li {    
    text-decoration: none;
    list-style: none;
}
.main-nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
}

@each $name, $color in $btn-colors {
    .nav-bar-icon--#{$name}:hover + .sub-banner--#{$name} {
            display: block;
            background-color: darken($color, 10%);
    }
    .sub-banner--#{$name}:hover {
        display: flex;
        flex-wrap: wrap;
        background-color: darken($color, 10%);
        ul ba-li {
            flex: 33%;
            text-align: left;
            font-size: rem(19);
            line-height: rem(20);
            padding: rem(10) 0;  
        }
    }
}



//list inside sub banners

// .sub-banner {
//     display: flex;
//     flex-wrap: wrap;
//     .ba-li {
//         flex: 33%;
//         text-align: left;
//         font-size: rem(19);
//         line-height: rem(20);
//     }
// }