#news {
    padding-top: rem(50);
    h2 {
        padding: 0;
    }
    @include sm {
    .va2 {
        display: none;
        }
    .va1 {
        display: block;
        padding-left: rem(15);
        padding-right: rem(15);
        text-align: center;
        float: right;
        color: inherit;
        text-decoration: none;
    }
    h3 {
        margin: 0 auto;
    }
    h2 {
        margin-bottom: rem(15);
    }
    }
}
.news img {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 3px;
    object-fit: scale-down;
    max-width: 95%;
}
.va1 {
    display: none;
    @include sm {
      display: inline-block;
      justify-self: end;
      align-self: center;
      margin-top: 0;
    }
}
.news-sec {
    display: flex;
    flex-direction: column;
    padding-bottom: rem(50);
    margin: 0 auto;
    justify-content: center;
    @include sm {
        flex-direction: row;
        .art3 {
            display: none;
        }
        .article img {
            height: 570px;
            object-fit: fill;
        }
    }
    @include md {
        .article img {
        height: 633px;
        width: 455px;
        }
    }
    @include lg {
        .article img {
            height: 583px;
            width: 370px;
        }
        .art3 {
            display: initial;
        }
    }
}
.article {
    top: 0;
    margin-bottom: 2rem;
    &:hover {
        position: relative;
        top: -10px;
        transition: top 0.5s ease;
    }
}