#news {
    padding-top: rem(50);
    h2 {
        padding: 0;
    }
    .va2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $bg-midnight;
        &:hover {
            text-decoration: underline;
        }
    }
    @include sm {
    .news-top {
        display: flex;
        justify-content: space-between;
    }
    .va2 {
        display: none;
        }
    .va1 {
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none;
        h3 {
            display: inline;
            margin: 0;
            white-space: nowrap;
        }
    }
    .view {
        display: flex;
        justify-content: flex-end;
    }
    // h2 {
    //     margin-bottom: rem(15);
    // }
    }
}
.news img {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.va1 {
    display: none;
}
.news-sec {
    display: flex;
    flex-direction: column;
    padding: rem(32) 0 rem(50) 0;
    margin: 0 auto;
    justify-content: center;
    @include sm {
        flex-direction: row;
        .art3 {
            display: none;
        }
        .article img {
            object-fit: fill;
        }
    }
    @include md {
        .article img {
        width: 455px;
        }
    }
    @include lg {
        .article img {
            width: 370px;
        }
        .art3 {
            display: initial;
        }
    }
}
.article {
    padding: 0 rem(15);
    top: 0;
    margin-bottom: 2rem;
    &:hover {
        position: relative;
        top: -10px;
        transition: top 0.5s ease;
    }
}