.news img {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 3px;
    object-fit: scale-down;
    max-width: 95%;
}
.news-sec {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
    @include sm {
        flex-direction: row;
        .art3 {
            display: none;
        }
        .article img {
            height: 570px;
            object-fit: fill;
        }
    }
    @include md {
        .article img {
        height: 633px;
        width: 455px;
        }
    }
    @include lg {
        .article img {
            height: 583px;
            width: 370px;
        }
        .art3 {
            display: initial;
        }
    }
}
.article {
    top: 0;
    margin-bottom: 2rem;
    &:hover {
        position: relative;
        top: -10px;
        transition: top 0.5s ease;
    }
}