#news {
    padding: rem(50) 0;
    h2 {
        padding: 0;
    }
    //view all at bottom of section
    .va2 {
        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $bg-midnight;
        margin-top: 2px;
        &:hover {
            text-decoration: underline;
        }
    }
    @include sm {
        // section title and view all at top of section container
        .news-top {
            display: flex;
            justify-content: space-between;
        }
        .va2 {
            display: none;
            }
        // view all at top of section
        .va1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: inherit;
            text-decoration: none;
            h3 {
                display: inline;
                margin: 0;
                white-space: nowrap;
            }
        }
        .view {
            display: flex;
            justify-content: flex-end;
        }
    }
}
.news-img {
    display: block;
    margin-bottom: -7px;
}
.va1 {
    display: none;
}
.news-sec {
    max-height: 2800px;
    display: flex;
    flex-direction: column;
    padding: rem(32) 0 rem(50) 0;
    margin: 0 auto;
    justify-content: center;
    row-gap: 25px;
    box-sizing: border-box;
    .article {
        display: block;
        height: auto;
        width: 100%;
    }
    @include sm {
        flex-direction: row;
        // gap: 80px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        .news-link {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        .article {
            height: rem(569);
        }
        .article3 {
            display: none;
        }
    }
    @include md {
        .article {
        width: 455px;
        height: rem(663);
        }
    }
    @include lg {
        .article {
            width: 370px;
            height: rem(583);
        }
        .article3 {
            display: block;
        }
    }
}
// image at the top of each news article
.news-image {
    width: 100%;
    @include sm {
        width: rem(333);
        height: 192px;
    }
    @include md {
        width: rem(455);
        height: 262px;
    }
    @include lg {
        width: rem(370);
        height: 215px;
    }
}

// different button colours with no solid pattern
.grey {
    color: $dev-grey;
}
.blue {
    color: $support-blue;
}
.bluen:hover {
    background-color: $btn-blue-hover;
}
.yell:hover {
        background-color: $btn-yell-hover;
}

.green:hover {
        background-color: $btn-green-hover;
}
// new articles parent anchor
.news-link:hover {
    cursor: pointer;
}
.news-link {
    position: relative;
    margin: 0 rem(15);
    top: 0;
    transition: top 0.5s ease;
    max-height: fit-content;
    @include sm {
        height: rem(569);
    }
    @include md {
        width: 455px;
        height: rem(663);
    }
    @include lg {
            width: 370px;
            height: rem(583);
    }
    &:hover {
        position: relative;
        top: -10px;
        transition: top 0.5s ease;
    }
}

// article title
.newh3 {
    font-size: rem(16);
    height: 48px;
    margin-top: 0;
    margin-bottom: 15px;
}
//everything below the picture
.news-txt {
    padding: rem(30);
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    .btn-new {
        display: inline-block;
        padding: 5px 15px;
        margin: 15px 0;
        height: 45px;
        width: 130px;
        width: fit-content;
        text-wrap: nowrap;
        vertical-align: middle;
        text-align: center;
        align-self: center;
        text-transform: uppercase;
        border-radius: 3px;
        line-height: 1.8;
        p {
            padding-top: 3px;
            display: inline;
            margin: 0;
            vertical-align: middle;
            color: $bg-white;
            font-size: 17px;
        }
    }
    p {
        line-height: rem(22);
        font-size: rem(13);
        color: #666;
    }
}
// the whole author bio bit
.poster {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    .post-deet {
        padding-left: 20px;
    }
}
// the author profile picture container
.post-pic {
    border-radius: 50%;
}
//author profile picture
.news-logo {
    height: rem(47);
    width: rem(47);
    border-radius: 50%;
}
// bs = Bethany Shakespeare
.bs {
    height: rem(66);
}
//author name
.nm {
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 800;
    strong {
        color: $bg-midnight;
        font-size: 14px;
    }
}
//tooltip categories
.news-tool {
    position: absolute;
    right: 0;
    top: 10px;
    color: $bg-white;
    font-size: rem(12);
    padding: 0 rem(10);
    line-height: 1.438rem;
    text-transform: uppercase;
    border-radius: 0;
}

.insight-tooltip {
    background-color: #67809f;
    border: none;
}

.career-tooltip {
    background-color: #4183d7;
    border: none;
}
