#news {
    padding: rem(50) 0;
    h2 {
        padding: 0;
    }
    .va2 {
        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $bg-midnight;
        &:hover {
            text-decoration: underline;
        }
    }
    @include sm {
    .news-top {
        display: flex;
        justify-content: space-between;
    }
    .va2 {
        display: none;
        }
    .va1 {
        display: inline;
        align-items: center;
        color: inherit;
        text-decoration: none;
        h3 {
            display: inline;
            margin: 0;
            white-space: nowrap;
        }
    }
    .view {
        display: flex;
        justify-content: flex-end;
    }
    // h2 {
    //     margin-bottom: rem(15);
    // }
    }
}
// .news-img {
//     // display: flex;
//     border: 1px solid #ccc;
//     border-radius: 3px;
//     object-fit: contain;
//     // max-width: 100%;
//     // max-height: 100%;
// }
.news-img {
    display: block;
    margin-bottom: -7px;
}
.va1 {
    display: none;
}
.news-sec {
    display: flex;
    flex-direction: column;
    padding: rem(32) 0 rem(50) 0;
    margin: 0 auto;
    justify-content: center;
    .article {
        display: block;
        height: rem(693);
    }
    @include sm {
        flex-direction: row;
        .article {
            height: rem(569);
        }
        .article3 {
            display: none;
        }
        // .article img {
        //     object-fit: fill;
        // }
    }
    @include md {
        .article {
        width: 455px;
        height: rem(663);
        }
    }
    @include lg {
        .article {
            width: 370px;
            height: rem(583);
        }
        .article3 {
            display: block;
        }
    }
}

// .article {
//     display: block;
// }
.news-image {
    width: 100%;
    @include sm {
        width: rem(333)
    }
    @include md {
        width: rem(455);
    }
    @include lg {
        width: rem(370);
    }
}
.news-logo {
    // display: inline-block;
    height: rem(47);
    width: rem(47);
    border-radius: 50%;
}
.bs {
    height: rem(66);
}
.grey {
    color: $dev-grey;
}
.blue {
    color: $support-blue;
}
// .news-sec {
//     display: flex;
//     flex-direction: column;
//     padding: rem(32) 0 rem(50) 0;
//     margin: 0 auto;
//     justify-content: center;
//     @include sm {
//         flex-direction: row;
//         #article3 {
//             display: none;
//         }
//         .news-link {
//             object-fit: fill;
//         }
//     }
//     @include md {
//         .news-link {
//             width: 455px;
//         }
//     }
//     @include lg {
//         .news-link {
//             width: 370px;
//         }
//         .art3 {
//             display: initial;
//         }
//     }
// }

.news-link:hover {
    cursor: pointer;
}
.news-link {
    position: relative;
    margin: 0 rem(15);
    margin-bottom: 2rem;
    top: 0;
    transition: top 0.5s ease;
    &:hover {
        position: relative;
        top: -10px;
        transition: top 0.5s ease;
    }
}
.news-tool {
    position: absolute;
    right: 0;
    color: $bg-white;
    font-size: rem(12);
    padding: 0 rem(10);
    line-height: 1.438rem;
    text-transform: uppercase;
}
.newh3 {
    font-size: rem(16);
}
.news-txt {
    padding: rem(30);
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    .btn-new {
        display: inline-block;
        padding: 5px 15px;
        margin: 25px 0;
        height: 40px;
        width: 130px;
        width: fit-content;
        text-wrap: nowrap;
        vertical-align: middle;
        text-align: center;
        align-self: center;
        p {
            padding-top: 3px;
            display: inline;
            margin: 0;
            vertical-align: middle;
            color: $bg-white;
            font-size: 17px;
        }
    }
    p {
        line-height: rem(22);
        font-size: rem(13);
        color: #666;
    }
}
.nm {
    margin: 0;
}
// .image {
//     display: block;
//     position: relative;
//     height: rem(350);
//     @include sm {
//         height: rem(200);
//     }
//     @include md {
//         height: rem(263);
//     }
//     @include lg {
//         height: rem(220);
//     }
// }
.insight-tooltip {
    background-color: #67809f;
    border: none;
}
.career-tooltip {
    background-color: #4183d7;
    border: none;
}

// .news-image {
//     display: block;
//     height: rem(693);
//     @include sm {
//         height: rem(569);
//     }
//     @include md {
//         height: rem(663);
//     }
//     @include lg {
//         height: rem(583);
//     }
// }
.poster {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    
    .post-deet {
        padding-left: 20px;
    }
}