.vowg1 {
  grid-area: vowg1;
}
.con {
  grid-area: con;
}
.sup {
  grid-area: sup;
}
.mar {
  grid-area: mar;
}
.tel {
  grid-area: tel;
}
.des {
  grid-area: des;
}
.sec {
  grid-area: sec;
}
.tra {
  grid-area: tra;
}

@include sm {
      .our-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr repeat(4, 1fr);
        gap: 20px;
        grid-template-areas:
        " . vowg1"
        "con con"
        "sup sup"
        "mar mar"
        "tel des"
        "sec tra";
      }
    }

.vow1 {
  display: none;
}
@include sm {
    .container-head {
      margin-bottom: 0;
    }
    .vow1 {
      display: inline-block;
      float: right;
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.25rem;
      }
    }
    .vow2 {
      display: none;
    }
    .our-services {
      padding-bottom: 50px;
    }
  }

@include md { 
  .our-services { 
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 0.1fr 1fr 0.75fr 0.75fr; 
    gap: 1.25rem; 

    .btn-sm, .services { 
      margin-top: 0;
    } 

    p { 
      padding-top: 0; 
    } 
    .vowg1 { grid-area: 1 / 2 / 8 / 13; }
    .con    { grid-area: 2 / 1 / 3 / 5; }
    .sup    { grid-area: 2 / 5 / 3 / 9; }
    .mar    { grid-area: 2 / 9 / 3 / 13; }
    .tel    { grid-area: 3 / 1 / 4 / 7; }
    .des    { grid-area: 3 / 7 / 4 / 13; }
    .sec    { grid-area: 4 / 1 / 5 / 7; }
    .tra    { grid-area: 4 / 7 / 5 / 13; }
  }
}
@include lg { 
  .our-services { 
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 0.1fr 1fr 1fr; 
    gap: 0.75rem; 

    .btn-sm, .services { 
      margin-top: 0;
    } 

    p { 
      padding-top: 0; 
    } 
    .vowg1 { grid-area: 1 / 2 / 2 / 13; }
    .con    { grid-area: 2 / 1 / 3 / 5; }
    .sup    { grid-area: 2 / 5 / 3 / 9; }
    .mar    { grid-area: 2 / 9 / 3 / 13; }
    .tel    { grid-area: 3 / 1 / 4 / 4; }
    .des    { grid-area: 3 / 4 / 4 / 7; }
    .sec    { grid-area: 3 / 7 / 4 / 10; }
    .tra    { grid-area: 3 / 10 / 4 / 13; }
  }
}


// failed function :(
// @each $name, $values in $our-services-grid-md {
//           .services.#{$name},
//           .#{$name} {
//             grid-row: map-get($values, row);
//             grid-column: map-get($values, col);
//             border: 3px red dotted;
//           }
//         }