// our services grid small breakpoint
.con {  grid-area: con; }
.sup {  grid-area: sup; }
.mar {  grid-area: mar; }
.tel {  grid-area: tel; }
.des {  grid-area: des; }
.sec {  grid-area: sec; }
.tra {  grid-area: tra; }

@include sm {
      .our-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, rem(291));
        gap: 20px;
        grid-template-areas:
        "con con"
        "sup sup"
        "mar mar"
        "tel des"
        "sec tra";
      }
    }
.vow2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vow1 {
  display: none;
}
.our-services {
      padding-bottom: 50px;
      > .services {
        margin-bottom: rem(20);
      }
    }
.h2up1 {
      margin-bottom: rem(30);
      margin-top: 0;
    }
@include sm {
    .h2up1 {
      margin-bottom: 0;
    }
    .vow1 {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: rem(30);
      float: right;
      color: initial;
      &:hover {
        text-decoration: underline;
      }
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.25rem;
      }
    }
    .vow2 {
      display: none;
    }
    .vowg1 {
      margin-top: 0;
      display: block;
    }
    // .btn-sm { 
    //   margin-top: 0;
    // }
  }

@include md { 
  .our-services { 
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: rem(378) rem(311) rem(311); 
    gap: 1.25rem;
    margin-top: 0;
    p { 
      padding-top: 0; 
    } 
    .con    { grid-area: 1 / 1 / 2 / 5; }
    .sup    { grid-area: 1 / 5 / 2 / 9; }
    .mar    { grid-area: 1 / 9 / 2 / 13; }
    .tel    { grid-area: 2 / 1 / 3 / 7; }
    .des    { grid-area: 2 / 7 / 3 / 13; }
    .sec    { grid-area: 3 / 1 / 4 / 7; }
    .tra    { grid-area: 3 / 7 / 4 / 13; }

    .vowg1 {
      justify-self: end;
      align-self: center;
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.25rem;
        color: $bg-midnight;
      }
    }
  }
}
@include lg { 
  .our-services { 
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: rem(334) rem(334); 
    gap: rem(24); 

    // .btn-sm { 
    //   margin-top: 0;
    // } 

    p { 
      padding-top: 0; 
    } 
    .vowg1 { 
        h3 {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 2.25rem;
      }
    
    }
    .con    { grid-area: 1 / 1 / 2 / 5; }
    .sup    { grid-area: 1 / 5 / 2 / 9; }
    .mar    { grid-area: 1 / 9 / 2 / 13; }
    .tel    { grid-area: 2 / 1 / 3 / 4; }
    .des    { grid-area: 2 / 4 / 3 / 7; }
    .sec    { grid-area: 2 / 7 / 3 / 10; }
    .tra    { grid-area: 2 / 10 / 3 / 13; }
  }
}
