.vowg1 {
  grid-area: vowg1;
}
.con {
  grid-area: con;
}
.sup {
  grid-area: sup;
}
.mar {
  grid-area: mar;
}
.tel {
  grid-area: tel;
}
.des {
  grid-area: des;
}
.sec {
  grid-area: sec;
}
.tra {
  grid-area: tra;
}

@include sm {
      .our-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr repeat(5, 1fr);
        gap: 20px;
        grid-template-areas:
        " . vowg1"
        "con con"
        "sup sup"
        "mar mar"
        "tel des"
        "sec tra";
      }
    }

.vow1 {
  display: none;
}
@include sm {
    .h2up {
      margin-bottom: 0;
    }
    .vow1 {
      display: inline-block;
      float: right;
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.25rem;
      }
    }
    .vow2 {
      display: none;
    }
    .our-services {
      padding-bottom: 50px;
    }
  }