#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100%;
    background: $bg-midnight;
    width: 275px;
    color: $bg-white;
    list-style: none;
    overflow-y: scroll;
    @include md {
        width: 350px;
    }
    
}
#background {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    background: $bg-white;
    transition: transform 0.4s ease;
}
.list-inner-menu,
.sidebar-small-list {
    padding: 0;
    margin-top: 0;
}
.sidebar-small-list {
    padding: 21px;
    @include md {
        display: none;
    }
    a {
        text-align: center;
    }
}
.list-services {
    display: none;
    @include md {
        display: block;
    }
}
#sidebar a, #sidebar li {
    color: $bg-white;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}
.non-list,
.cat-title {
    font-size: 18px;
    text-align: center;
    padding: 19px 0;
    outline: 1px solid $grey-25;
    border: 1px solid rgba(255, 255, 255, 0.1);
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        cursor: pointer;
    }
}
.cat-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 20px 0;
    small {
        font-size: 10px;
    }
    .icon-bar {
        margin: 0;
        padding-bottom: 10px;
        height: 35px;
        width: 35px;
    }
}
.list-inner-item {
    padding: 10px;
    background-color: #262833;
    font-size: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}
.icon-bar {
    @each $name, $color in $btn-colors {
        &--#{$name} {
            fill: $color;
        }
    }
}
.list-inner-item-big,
.sidebar-big-list {
    padding: 0;
    text-align: left;
    margin: 0;
}
.list-inner-item-big {
    width: 100%;
    padding: 15px 20px;
    background-color: #262833;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    font-size: 14px;
    &:hover {
        cursor: pointer;
        .list-title {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }
    &::before {
        content: "\BB";
        padding-right: 15px;
        color: $bg-white;
        font-size: 14px;
    }
}
.sidebar-big-list .list-title {
    padding: 20px;
    font-size: 16px;
    width: 100%;
    display: block;
    margin: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid $grey-25;
    &:hover {
        background-color: #3d404e;
    }
}
.list-big:hover .list-title {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
.list-cat:hover .cat-title {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}