//welcome to netmatters & what our clients think sections
.about {
    background-color: $bg-midnight;
    color: $bg-white;
    padding-top: rem(50);
}
.about a {
    color: $bg-white;
}

.quote {
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 1.875rem;
    font-weight: 600;
    font-size: 1.3rem;
}
.quotee {
   color: $c__quotee-grey;
}
// wel1 = Welcome to Netmatters half
.wel1 p {
    line-height: 1.875rem;
}
.wel1 .h2up,
.wel2 .h2up {
    margin-bottom: 40px;
}
// wel2 = What Our Clients Think half
.wel2 .h2up {
    margin-top: 40px;
}
// buttons- welcome to netmatters half 

.btn-wel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    @include sm {
        flex-direction: row;
        justify-content: left;
        gap: rem(10);
    }
    > a {
        display: flex;
        font-size: 1.25rem;
        background-color: $wel-btn;
        border: $wel-btn;
        border-radius: rem(6);
        &:hover {
            background-color: $wel-btn-hov;
            border: $wel-btn-hov;
        }
    }
}

.btn-wel1 {
    height: 55px;
}
// buttons- what our clients think half
.btn-wel2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    font-size: 20px;
    gap: rem(10);
    border-radius: 6px;
    @include sm {
        flex-direction: row;
        justify-content: left;
    }
}
//google button
.btn-gg {
    height: 55px;
    background-color: $gg-blue;
    border: $gg-blue;
    &:hover {
        background-color: $gg-blue-h;
    }
}
//trustpilot button
.btn-tp {
    height: 55px;
    background-color: $tp-green;
    border: $tp-green;
    &:hover {
        background-color: $tp-green-h;
    }
}
.btn-gg, .btn-tp {
    max-width: fit-content;
}

@include md {
    .welcome-sec {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: rem(50) rem(15);
            .h2up {
            width: max-content;
        }
    }
    
    .btn-wel,
    .btn-wel2 {
        flex-direction: column;
        height: auto;
        // gap: rem(10);
        line-height: rem(35);
        text-wrap: nowrap;
    }
    .wel1,
    .wel2 {
        padding: rem(10);
        flex: 1 1 0;
        height: 100%;
        padding: 0 rem(15);
    }
    .about {
        padding: 0;
    }
    .btn-gg,
    .btn-tp {
        padding: rem(10) rem(25);
        transform: translateY(100%);
    }
        .wel2 .h2up {
        margin-top: 0;
    }
}


@include lg {
    .welcome-sec {
        .btn-tp .arrow,
        .btn-gg .arrow {
            margin-left: 0;
        }
        .btn-wel,
        .btn-wel2 {
            flex-direction: row;
            height: auto;
            gap: rem(10);
            line-height: rem(35);
        }
    }
}

// for star and arrow icons, see themes/icons.scss