//welcome to netmatters & what our clients think sections
.about {
    background-color: $bg-midnight;
    color: $bg-white;
    padding-top: rem(50);
}
.about a {
    color: $bg-white;
}

.quote {
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 1.875rem;
    font-weight: 600;
    font-size: 1.3rem;
}
.quotee {
   color: $c__quotee-grey;
}

.wel1 p {
    line-height: 1.875rem;
}
.wel1 h2 {
    margin-bottom: 40px;
}
// buttons- welcome section 1 & 2; google; trustpilot; 

.btn-wel {
    display: flex;
    justify-content: left;
    gap: rem(25);
    > a {
        font-size: 1.25rem;
        background-color: $wel-btn;
        border: $wel-btn;
        border-radius: rem(6);
        &:hover {
            background-color: $wel-btn-hov;
            border: $wel-btn-hov;
        }
    }
}
.btn-wel2 {
    display: flex;
    padding-bottom: 2rem;
    font-size: 20px;
    gap: rem(25);
    @include sm {
        flex-direction: row;
        justify-content: left;
    }
}
.btn-gg {
    background-color: $gg-blue;
    border: $gg-blue;
    border-radius: rem(6);
    &:hover {
        background-color: $gg-blue-h;
    }
}
.btn-tp {
    background-color: $tp-green;
    border: $tp-green;
    border-radius: rem(6);
    &:hover {
        background-color: $tp-green-h;
    }
}
.btn-gg, .btn-tp {
    height: auto;
    max-width: fit-content;
}

// 992px breakpoint

@include md {
    .welcome-sec {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        padding: rem(50) rem(15);
            .h2up {
            width: max-content;
        }
    }
    
    .btn-wel,
    .btn-wel2 {
        flex-direction: column;
        max-width: fit-content;
        justify-content: flex-end;
        gap: 0;
    }
    .wel1,
    .wel2 {
        padding: rem(10);
        flex: 1 1 0;
        height: 100%;
        padding: 0 rem(15);
    }
    .about {
        padding: 0;
    }
    .btn-gg,
    .btn-tp {
        padding: rem(10) rem(25);
        transform: translateY(100%);
    }
}

// 1200px breakpoint

@include lg {
    .welcome-sec {
        .btn-tp .arrow,
        .btn-gg .arrow {
            margin-left: 0;
        }
        .btn-wel,
        .btn-wel2, {
            flex-direction: row;
            height: auto;
            gap: rem(10);
            line-height: rem(35);
        }
    }
}

// for star and arrow icons, see themes/icons.scss