//welcome to netmatters & what our clients think sections
.about {
    background-color: $bg-midnight;
    color: $bg-white;
    padding-top: rem(50);
}
.about a {
    color: $bg-white;
}

.quote {
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 1.875rem;
    font-weight: 600;
    font-size: 1.3rem;
}
.quotee {
   color: $c__quotee-grey;
}

.wel1 p {
    line-height: 1.875rem;
}
.wel1 h2 {
    margin-bottom: 40px;
}
// buttons- welcome section 1 & 2; google; trustpilot; 

.btn-wel {
    display: flex;
    justify-content: left;
    width: 1fr;
    > a {
        font-size: 1.25rem;
        background-color: $wel-btn;
        border: $wel-btn;
        border-radius: rem(6);
        margin-right: rem(12);
        &:hover {
            background-color: $wel-btn-hov;
            border: $wel-btn-hov;
        }
    }
}
.btn-wel2 {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding-bottom: 2rem;
    font-size: 20px;
    @include sm {
        flex-direction: row;
        justify-content: left;
    }
}
.btn-gg {
    background-color: $gg-blue;
    border: $gg-blue;
    border-radius: rem(6);
    &:hover {
        background-color: $gg-blue-h;
    }
}
.btn-tp {
    background-color: $tp-green;
    border: $tp-green;
    border-radius: rem(6);
    &:hover {
        background-color: $tp-green-h;
    }
}
.btn-gg, .btn-tp {
    height: auto;
    max-width: fit-content;
}



// for star and arrow icons, see themes/icons.scss