//welcome to netmatters & what our clients think sections
.about {
    background-color: $bg-midnight;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about a {
    color: $bg-white;
}

.quote {
    margin: 0;
    padding: 0;
}


// buttons- welcome section 1 & 2; google; trustpilot; 

.btn-wel {
    display: flex;
    justify-content: left;
    width: 1fr;
    > a {
        background-color: $wel-black;
        border: $wel-black;
    }
}
.btn-wel2 {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding-bottom: 2rem;
    font-size: 20px;
    @include sm {
        flex-direction: row;
        justify-content: left;
    }
}
.btn-gg {
    background-color: $gg-blue;
    border: $gg-blue;
    &:hover {
        background-color: $gg-blue-h;
    }
}
.btn-tp {
    background-color: $tp-green;
    border: $tp-green;
    &:hover {
        background-color: $tp-green-h;
    }
}
.btn-gg, .btn-tp {
    height: auto;
    max-width: fit-content;
}



// for star and arrow icons, see themes/icons.scss