.btn, .btn-sm {
    height: auto;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 12px 32px;
    margin-top: 25px;
}

// big our services buttons

.btn-big {
    position: relative;
    top: 0;
    transition: top .5s ease;
    border: 1px solid #bbb;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 35px rgba(0,0,0,0.1);
    height: auto;
    text-align: center;
  }



.btn-big {
@each $name, $color in $btn-colors {
  &--#{$name} {
    background-color: $bg-white;
    color: $bg-midnight;
        &:hover {
            top: -10px;
            background-color: $color;
            color: $bg-white;
            .btn-sm--#{$name} {
                background-color: $bg-white;
                background-image: url(img/icons/SVG/con-dev-co.svg);
                color: $color;
            }
            .btn-logo {
                background-color: $bg-white;
                background-image: url(img/icons/SVG/con-dev-co.svg);
            }
        }
    }
  }
}

.btn-sm {
@each $name, $color in $btn-colors {
  &--#{$name} {
    background-color: $color;
    border-color: transparent;
    color: $bg-white;
    }
  }
}
.btn-logo {
@each $name, $color in $btn-colors {
  &--#{$name} {
    display: inline-grid;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: $color;
    border-color: transparent;
    & img {  
      justify-self: center;
      align-self: center;
      }
    }
  }
}

.btn-soc {
@each $name, $color in $soc-med-colors {
  &--#{$name}:hover {
    background-color: $color;
    border-color: transparent;
    }
  }
}