.btn, .btn-sm {
    height: auto;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    border: rem(1) solid #bbb;
    border-radius: rem(3);
    padding: rem(10) rem(30);
    margin-bottom: rem(25);
}

// big our services buttons

.btn-big {
    position: relative;
    top: 0;
    transition: top .5s ease;
    border: 1px solid #bbb;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 35px rgba(0,0,0,0.1);
    height: auto;
    text-align: center;
  }

.btn-big {
@each $name, $color in $btn-colors {
  &--#{$name} {
    background-color: $bg-white;
    color: $bg-midnight;
        &:hover {
            top: -10px;
            background-color: $color;
            color: $bg-white;
            .btn-sm--#{$name} {
                background-color: $bg-white;
                color: $color;
            }
            .btn-logo {
                background-color: $bg-white;
                fill: $color;
            }
        }
    }
  }
}

//the small 'buttons' in the our services section

.btn-sm {
@each $name, $color in $btn-colors {
  &--#{$name} {
    background-color: $color;
    border-color: transparent;
    color: $bg-white;
    }
  }
}

// round colour logo/icons in the our services section

.btn-logo {
@each $name, $color in $btn-colors {
  &--#{$name} {
    display: inline-grid;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: $color;
    fill: $bg-white;
    border-color: transparent;
    & svg {  
      justify-self: center;
      align-self: center;
      height: rem(32);
      width: rem(32);
      }
    }
  }
}

//social media buttons

.btn-soc {
@each $name, $color in $soc-med-colors {
  &--#{$name}:hover {
    background-color: $color;
    border-color: transparent;
    }
  }
}