.btn, .btn-sm {
    height: auto;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: rem(1) solid #bbb;
    
    padding: rem(10) rem(30);
}
.btn {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  border-radius: rem(6);
  padding: 10px 30px;
  margin: 0 0 18px 0;
}
// big our services buttons
.btn-sm {
    margin-top: auto; 
    align-self: center; 
    border-radius: rem(3);
}
.btn-big {
  font-family: 'Poppins', sans-serif;
  top: 0;
  transition: top .5s ease;
  border: 1px solid #bbb;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 35px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
    @include md {
      height: 100%;
    }
    @include lg {
      p {
      margin-bottom: rem(13);
      }
    }
  }

.btn-big {
@each $name, $color in $btn-colors {
  &--#{$name} {
    background-color: $bg-white;
    color: $bg-midnight;
        &:hover {
            top: -10px;
            background-color: $color;
            color: $bg-white;
            .btn-sm--#{$name} {
                background-color: $bg-white;
                color: $color;
            }
            .btn-logo {
                background-color: $bg-white;
                fill: $color;
            }
        }
    }
  }
}

//the small 'buttons' in the our services section

.btn-sm {
@each $name, $color in $btn-colors {
  &--#{$name} {
    background-color: $color;
    border-color: transparent;
    color: $bg-white;
    }
  }
}

// round colour logo/icons in the our services section

.btn-logo {
@each $name, $color in $btn-colors {
  &--#{$name} {
    display: inline-grid;
    min-height: 65px;
    min-width: 65px;
    border-radius: 50%;
    background-color: $color;
    fill: $bg-white;
    border-color: transparent;
    align-self: center;
    & svg {  
      justify-self: center;
      align-self: center;
      height: rem(32);
      width: rem(32);
      }
    }
  }
}

//social media buttons

.btn-soc {
@each $name, $color in $soc-med-colors {
  &--#{$name}:hover {
    background-color: $color;
    border-color: transparent;
    cursor: pointer;
    }
  }
}