// our services 992px grid layout

// $our-services-grid-md: (
//     vowg1: (row: 1 / 2, col: 8 / 13),
//     con: (row: 2 / 3, col: 1 / 5),
//     sup: (row: 2 / 3, col: 5 / 9),
//     mar: (row: 2 / 3, col: 9 / 13),
//     tel: (row: 3 / 4, col: 1 / 7),
//     des: (row: 3 / 4, col: 7 / 13),
//     sec: (row: 4 / 5, col: 1 / 7),
//     tra: (row: 4 / 5, col: 7 / 13),
// );

