body {
    font-family: Poppins,sans-serif;
}
h1 {
    font-size: 2.7rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.625rem;
}
p {
    line-height: 1.375rem;
    margin: 0px 0px 25px 0px;
}
.h2up {
    font-size: 2.25rem;
    font-weight: 800;
    font-family: inherit;
    margin-top: 0;
    margin-bottom: 40px;
}
.container-header p {
    font-weight: 600;
}
.inline-title {
    display: inline-block;
}
.view {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: inherit;
    text-decoration: none;
}