body {
    font-family: Poppins,sans-serif;
}
h1 {
    font-size: rem(40);
    line-height: rem(48);
    font-weight: 600;
    font-family: inherit;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.625rem;
}
p {
    line-height: 1.375rem;
    margin: 0 0 rem(25) 0;
}
.h2up {
    font-size: 2.25rem;
    font-weight: 600;
    font-family: inherit;
    margin-top: 0;
    line-height: 1.1;
}
.container-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 0 auto;
}
.container-head {
    font-weight: 400;
    font-size: rem(43);
}
.inline-title {
    margin: 0;
}
.vowg1 {
    font-size: rem(36);
    font-weight: 600;
    line-height: 1.1;
}
.view:hover {
    text-decoration: underline;
    color: inherit;
    & .arrow {
        text-decoration: underline;
    }
}
// .view {
//     padding-left: rem(15);
//     padding-right: rem(15);
//     margin-right: auto;
//     margin-left: auto;
//     text-align: center;
//     color: inherit;
//     text-decoration: none;
// }