body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2.5rem;
    line-height: rem(48);
    font-weight: 600;
    margin: 0;
    @include sm {
        margin: 0 0 rem(18);
        font-size: rem(40);
        font-weight: 600;
        margin: 0;
    }
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.625rem;
}
p {
    line-height: 1.375rem;
    margin: 0 0 rem(25) 0;
}
.h2up {
    font-size: 2.25rem;
    font-weight: 600;
    font-family: inherit;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1;
}

.container-head {
    font-weight: 400;
    font-size: rem(43);
    margin-bottom: -50px;

}
.inline-title {
    margin: 0;
}
.vowg1 {
    font-size: rem(36);
    font-weight: 600;
    line-height: 1.1;   
}
.view:hover {
    text-decoration: underline;
    color: inherit;
    & .arrow-right {
        text-decoration: underline;
    }
}
.vow1, .vow2, .va1, .va2 {
    color: $bg-midnight;
}