// stars in welcome section, not changing colour

.stars {
    display: flex;
    flex-direction: row;
    fill: orange;
}
.star {
    width: 50px;
    height: 50px;
    font-size: 50px;
    fill: #ffa500;
}

//multi-use arrow, also not changing colour

.arrow::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    font-size: 20px;
    background-image: url("../img/icons/SVG/arrow-right2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

// <svg class="star" viewBox="0 0 32 32">
//   <path d="M19.414 27.414l10-10c0.781-0.781 ..." />
// </svg>

// <path fill="#000000" d="M19.414 27.414l10-10..." />
// <path fill="currentColor" d="M19.414 27.414l10-10..." />
