// stars in welcome section

.stars {
    display: inline;
    flex-direction: row;
    margin: rem(25) 0;
    & svg {
        display: inline-block;
        width: rem(50);
        height: rem(50);
        fill: $orange;
    }
}


//multi-use arrow

.arrow {
    display: inline-block;
    width: rem(20);
    height: rem(20);
    margin-left: rem(10);
    vertical-align: middle;
}
.phone {
    display: inline-block;
    width: rem(32);
    height: rem(32);
}