// stars in welcome section

.stars {
    display: flex;
    flex-direction: row;
}
.star {
    display: inline-block;
    width: 50px;
    height: 50px;
}

//multi-use arrow

.arrow {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.phone {
    display: inline-block;
    width: 32px;
    height: 32px;
}


