// stars in welcome section

.stars {
    display: flex;
    flex-direction: row;
    margin: 25px 0px;
}
.star {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: $orange;
}

//multi-use arrow

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
}
// a .inline-title {
//     vertical-align: middle;
// }
.phone {
    display: inline-block;
    width: 32px;
    height: 32px;
}


