//colour variables

$color--consult-dev: #f7b322;
$color--it-support: #4183d7;
$color--dig-market: #2ecc71;
$color--telecoms: #d64541;
$color--web-design: #926fb1;
$color--cyber-sec: #f62459;
$color--dev-train: #ce4125;
$color--main-bg: #fff;
$color--div-bg: #333645;

