//colour variables descriptive

// mobile first search bar
$c__search-bar--text-grey: #888;
$c__search-bar--bg-grey: rgba(0, 0, 0, 0.1);

//2nd breakpoint search bar
$c__search-bar2--bg-grey: #999aa2;
$c__search-bar2--bg-grey-hover: #7e808a;

// our services and mg, lg nav bar
$c__consultancy-dev-yellow: #f7b322;
$c__consultancy-dev-grey: #67809f;
$c__it-support-blue: #4183d7;
$c__digital-market-green: #2ecc71;
$c__telecoms-red: #d64541;
$c__web-design-purple: #926fb1;
$c__cyber-security-pink: #f62459;
$c__dev-training-orange: #ce4125;

//welcome section background/text/buttons/star
$c__welcome-black: #212330;
$c__welcome-button-grey: #272936;
$c__welcome-button-grey-hover: #121318;
$c__quotee-grey: #a3a8ac;

$c__google-blue: #4387f6;
$c__google-blue-hov: #166af4;
$c__trustpilot-green: #00b67b;
$c__trustpilot-green-hov: #009b69;

$orange: #ffa500;

//footer social media buttons
$c__instagram-pink: #d93175;
$c__twitter-blue: #00aced;
$c__linked-blue: #0077b5;
$c__facebook-blue: #3b5998;


//colour variables functional

// mobile first search bar
$srch-tx-grey: $c__search-bar--text-grey;
$srch-bg-grey: $c__search-bar--bg-grey;

//2nd breakpoint search bar
$srch2-bg: $c__search-bar2--bg-grey;
$srch2-bg-hov: $c__search-bar2--bg-grey-hover;

// hero image carousel dots

$hi-dot-grey: rgba(255, 255, 255, 0.5);
$hi-dot-hov: #869791;

// our services and mg, lg nav bar
$dev-yellow: $c__consultancy-dev-yellow;
$dev-grey: $c__consultancy-dev-grey;
$support-blue: $c__it-support-blue;
$market-green: $c__digital-market-green;
$telecoms-red: $c__telecoms-red;
$design-purple: $c__web-design-purple;
$security-pink: $c__cyber-security-pink;
$training-orange: $c__dev-training-orange;
$bg-white: #fff;
$bg-midnight: #333645;


//welcome section background/text/buttons/star
$wel-btn: $c__welcome-button-grey;
$wel-btn-hov: $c__welcome-button-grey-hover;
$q-grey: $c__quotee-grey;

$wel-black: $c__welcome-black;
$gg-blue: $c__google-blue;
$gg-blue-h: $c__google-blue-hov;
$tp-green: $c__trustpilot-green;
$tp-green-h: $c__trustpilot-green-hov;


//news buttons
$btn-blue-hover: #2a6ec6;
$btn-yell-hover: #e8a008;
$btn-green-hover: #26ab5f;

//footer social media buttons
$inst-pink: $c__instagram-pink;
$twit-blue: $c__twitter-blue;
$link-blue: $c__linked-blue;
$face-blue: $c__facebook-blue;

//our services button colours map
$btn-colors: (
  dev-yellow: $dev-yellow,
  dev-grey: $dev-grey,
  support-blue: $support-blue,
  market-green: $market-green,
  telecoms-red: $telecoms-red,
  design-purple: $design-purple,
  security-pink: $security-pink,
  training-orange: $training-orange
);

//social media buttons colour map
$soc-med-colors: (
  inst-pink: $inst-pink,
  twit-blue: $twit-blue,
  link-blue: $link-blue,
  face-blue: $face-blue,
);
