//colour variables descriptive

$c__consultancy-dev-yellow: #f7b322;
$c__it-support-blue: #4183d7;
$c__digital-market-green: #2ecc71;
$c__telecoms-red: #d64541;
$c__web-design-purple: #926fb1;
$c__cyber-security-pink: #f62459;
$c__dev-training-orange: #ce4125;

$c__welcome-black: #121318;
$c__google-blue: #166af4;
$c__trustpilot-green: #009b69;

$orange: orange;

//colour variables functional

$dev-yellow: $c__consultancy-dev-yellow;
$support-blue: $c__it-support-blue;
$market-green: $c__digital-market-green;
$telecoms-red: $c__telecoms-red;
$design-purple: $c__web-design-purple;
$security-pink: $c__cyber-security-pink;
$training-orange: $c__dev-training-orange;
$bg-white: #fff;
$bg-midnight: #333645;

$wel-black: $c__welcome-black;
$gg-blue: $c__google-blue;
$tp-green: $c__trustpilot-green;

//our services button colours map
$btn-colors: (
  dev-yellow: $dev-yellow,
  support-blue: $support-blue,
  market-green: $market-green,
  telecoms-red: $telecoms-red,
  design-purple: $design-purple,
  security-pink: $security-pink,
  training-orange: $training-orange
);

