//breakpoints
$screen-xs: 470px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1260px;

//xs needed for mobile views
@mixin xs {
    @media (min-width: #{$screen-xs}) {
        @content; 
        }
}

@mixin sm {
    @media (min-width: #{$screen-sm}) {
        @content; 
        }
}
@mixin md {
    @media (min-width: #{$screen-md}) {
        @content; 
    }
}
@mixin lg {
    @media (min-width: #{$screen-lg}) {
        @content; 
    }
}